<h1>Sign up</h1>

<form [formGroup]="registerForm" (submit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputUN" class="form-label">UserName</label>
    <input type="text" class="form-control" id="exampleInputUN" formControlName="username">
    <div id="unerror" class="form-text" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
      <h3 style="color: red;" *ngIf="registerForm.get('username')?.errors?.['required']">Username is required</h3>
      <h3 style="color: red;" *ngIf="registerForm.get('username')?.errors?.['minlength']">Username requires at least 3 characters</h3>
      <h3 style="color: red;" *ngIf="registerForm.get('username')?.errors?.['maxlength']">Username requires no more than 15 characters</h3>
      <h3 style="color: red;" *ngIf="registerForm.get('username')?.errors?.['pattern']">Only letters are allowed</h3>
    </div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="text" class="form-control" id="exampleInputEmail1" formControlName="email">
    <div id="emailerror" class="form-text" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
      <h3 style="color: red;" *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</h3>
      <h3 style="color: red;" *ngIf="registerForm.get('email')?.errors?.['pattern']">Invalid email format</h3>
    </div>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="pwd">
    <div id="pwderror" class="form-text" *ngIf="registerForm.get('pwd')?.touched && registerForm.get('pwd')?.invalid">
      <h3 style="color: red;" *ngIf="registerForm.get('pwd')?.errors?.['required']">Password is required</h3>
      <h3 style="color: red;" *ngIf="registerForm.get('pwd')?.errors?.['minlength']">Password must be at least 6 characters</h3>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
</form>
